# Byte-compiled / cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Notebooks
*.ipynb

# Image samples
Sample_Images/

# OS junk
.DS_Store
Thumbs.db

# Logs and outputs
*.log
*.out

# Version control
.git/
.gitignore
.gitattributes

# Python environments
venv/
env/
*.egg-info/

# Dataset and models (if already baked into image or pulled at runtime)
*.csv
# Ignore all .h5 files
*.h5

# But don't ignore best_model.h5
!best_model.h5


# Docker and deployment artifacts
Dockerfile
docker-compose.yml
*.tar
*.zip

# IDE configs
.vscode/
.idea/
